@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.contaier {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 170px 20px;
  gap: 30px;
}

.outer-card {
  height: 400px;
  width: 300px;
  background-color: rgb(10, 10, 10);
  color: white;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  padding: 30px 5px;
}

.first-row {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px;
  margin-top: 20px;
}

.first-row .card {
  height: 110px;
  width: 100%;
  background-image: linear-gradient(to right bottom, #ff7200, #ff7200);
  border-radius: 10px;
  border-top-left-radius: 80px;
  transition: all 1s;
}

.first-row img {
  height: 140px;
  width: 180px;
  position: absolute;
  top: -40px;
  margin-top: 12px;
}

.second-row {
  text-align: left;
  padding-left: 20px;
  line-height: 2;
  padding-bottom: 30px;
}

.second-row h3 {
  font-size: 19px;
}

.space {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}

.space span:nth-child(1) {
  color: rgb(202, 97, 11);
}

.butto {
  display: flex;
  justify-content: center;
  margin-bottom: 1px;
}

.butto button {
  background-color: rgb(255, 94, 0);
  color: white;
  height: 40px;
  width: 190px;
  border-radius: 9px;
  transition: all 0.5s;
  cursor: pointer;
  border: none;
  padding-bottom: -30px;
}

.butto:hover button {
  font-size: 16px;
  background-image: linear-gradient(to left bottom, #ff7200, #eb7412);
  border: none;
}
