@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.baba {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 160px 10px;
  background: #ff851b;
}

.Report {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.Report .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.Report_content .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #ff851b, #bb681f);
}
.Report_content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box textarea {
  height: 100px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box input[type="file"] {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 5px;
  padding-top: 7px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box select {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus {
  border-color: #ff851b;
}
.user-details .input-box select:focus {
  border-color: #ff851b;
}

.user-details .input-box textarea:focus {
  border-color: #ff851b;
}

.Report_content form .button {
  height: 45px;
  margin: 35px 0;
}
.Report_content form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #ff851b, #cc782e);
}
.Report_content form .button input:hover {
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #cc782e, #ff851b);
}
@media (max-width: 584px) {
  .Report {
    max-width: 100%;
  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }

  .Report_content form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar {
    width: 5px;
  }

  .user-details .input-box option {
    height: 45px;
    width: 50%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
}

.upload_box {
  background: #fff;
  border-radius: 50px;
  box-shadow: 5px 5px 10px #d9d9d9;
  width: 350px;
  font-size: 16px;
}

::-webkit-file-upload-button {
  color: white;
  background: linear-gradient(135deg, #ff851b, #cc782e);
  padding: 5px;
  border: none;
  border-radius: 50px;
  outline: none;
}

::-webkit-file-upload-button:hover {
  background: linear-gradient(-135deg, #cc782e, #ff851b);
}
