@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

:root {
  --orange: #ff7200;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body {
  background: #fff;
}

.cu {
  display: none;
}
.ca {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 10px;
  gap: 10px;
}
.ga {
  padding-top: 100px;
}

.review {
  padding: 2rem 2%;
}

.hea {
  text-align: center;
  font-size: 3.5rem;
  padding: -1rem 5rem;
  color: #666;
}

.review .box-container {
  display: flex;
  margin-left: 50px;
  flex-wrap: wrap;
  gap: 1rem;
}

.review .box-container .box {
  width: 400px;
  margin-top: 4rem;
  padding: 30px 30px;
  border: 4px solid #666;
  border-radius: 10px;
}

.review .box-container .box img {
  height: 3.8rem;
  width: 3.8rem;
  border-radius: 50%;
  border: 5px solid #ddd;
  object-fit: cover;
}

@media (max-width: 1190px) {
  .cu {
    display: block;
  }
  .ca {
    display: none;
  }
  .ga {
    padding-top: 100px;
  }

  .review {
    padding: 2rem 9%;
  }

  .hea {
    text-align: center;
    font-size: 3.5rem;
    padding: -1rem 0.5rem;
    color: #666;
  }

  .hea span {
    color: var(--orange);
  }

  .review .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-left: 0px;
  }

  .review .box-container .box {
    text-align: center;
    padding: 2rem;
    border: 1rem solid #ff7200;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    flex: 1 1 30rem;
    background: #333;
    margin-top: 6rem;
  }

  .review .box-container .box img {
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    border: 1rem solid #ff7200;
    margin-top: -8rem;
    object-fit: cover;
  }

  .review .box-container .box h3 {
    font-size: 2.5rem;
    color: #fff;
    padding: 0.5rem 0;
  }

  .review .box-container .box .stars i {
    font-size: 2rem;
    color: var(--orange);
    padding: 0.5rem 0;
  }

  .review .box-container .box p {
    font-size: 1.5rem;
    color: #eee;
    padding: 1rem 0;
  }
}

/* media queries  */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

.ta {
  font-size: 70px;
  font-weight: 700;
  color: #333;
  padding-top: 130px;
  margin-bottom: -50px;
  text-align: center;
  padding-bottom: 60px;
}

.add-rev {
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
  color: #fff;
  background-color: #ff7200;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
  letter-spacing: 0.1rem;
  margin: auto;
}

textarea {
  width: 100%;
  padding: 15px;
  padding-bottom: 35px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  font-size: 20px;
}

/* Add a background color when the inputs get focus */
textarea:focus {
  background-color: #ddd;
  outline: none;
}
.star {
  font-size: 40px;
}
@media (max-width: 800px) {
  .star {
    font-size: 30px;
  }
}

/* Set a style for all buttons */
button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,
.signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.contai {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #ccc;
  padding-top: 150px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and cente */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}
